//背景色彩
$bg-color: #12181E;
// linear-gradient(109.69deg, #12181E 16.49%, #13181F 26.68%, #151A23 36.59%, #181D24 41.08%, #1D2229 48.97%, #21282E 55.3%, #242B32 61.38%, #262D35 68.74%, #262D35 75.3%, #262D35 80.67%, #263038 86.99%);

//標題顏色
$caption-color: #EEEEEE;

//文字顏色
$txt-color:#e8e8e8;

//主色色彩
$grey: #F5F5F7;
$fff: #ffffff;
$black: #252424;
$allblack: #000000;
//輔色色彩
$brown: #DC9E7A;
$dark-grey: #010028;
$light-black: #CED3DC;
$purple: #9C4DD6;
$ored: #F25A2A;

//強調色
$blue: #007FFB;

//連結


