//字體設定-手機
$caption-h1: 600 36px/1.2 'Poppins', sans-serif;
$caption-h2: 600 28px/1.4 'Poppins', sans-serif;
$caption-h3: 500 24px/1.4 'Poppins', sans-serif;
$caption-h4: 500 20px/1.4 'Poppins', sans-serif;
$caption-h5: 500 18px/1.4 'Poppins', sans-serif;
$caption-p: 300 16px/1.4 'Poppins', sans-serif;
$caption-a: 300 20px/1.4 'Poppins', sans-serif;
$caption-span: 'Poppins', sans-serif;
$caption-li: 300 20px/1.4 'Poppins', sans-serif;

//字體設定-575斷點
$caption-s-h1: 600 36px/1.2 'Poppins', sans-serif;
$caption-s-h2: 600 32px/1.4 'Poppins', sans-serif;
$caption-s-h3: 500 28px/1.4 'Poppins', sans-serif;
$caption-s-h4: 500 24px/1.4 'Poppins', sans-serif;
$caption-s-h5: 500 20px/1.4 'Poppins', sans-serif;
$caption-s-p: 300 16px/1.4 'Poppins', sans-serif;
$caption-s-a: 300 20px/1.4 'Poppins', sans-serif;

//字體設定-1023斷點
$caption-m-h1: 600 48px/1.2 'Poppins', sans-serif;
$caption-m-h2: 600 40px/1.4 'Poppins', sans-serif;
$caption-m-h3: 500 36px/1.4 'Poppins', sans-serif;
$caption-m-h4: 500 28px/1.4 'Poppins', sans-serif;
$caption-m-h5: 500 24px/1.4 'Poppins', sans-serif;
$caption-m-p: 300 16px/1.4 'Poppins', sans-serif;
$caption-m-a: 300 20px/1.4 'Poppins', sans-serif;


//字體設定-1199斷點 
// $caption-l-h1: 600 60px/80px 'Poppins', sans-serif;
// $caption-l-h2: 600 52px/64px 'Poppins', sans-serif;
// $caption-l-h3: 500 48px/64px 'Poppins', sans-serif;
// $caption-l-h4: 500 40px/58px 'Poppins', sans-serif;
// $caption-l-h5: 500 32px/48px 'Poppins', sans-serif;
// $caption-l-h6: 500 24px/48px 'Poppins', sans-serif;
// $caption-l-p: 300 18px/32px 'Poppins', sans-serif;
// $caption-l-a: 300 20px/1.4 'Poppins', sans-serif;

$caption-l-h1: 600 60px/80px 'Poppins', sans-serif;
$caption-l-h2: 600 48px/64px 'Poppins', sans-serif;
$caption-l-h3: 500 40px/64px 'Poppins', sans-serif;
$caption-l-h4: 500 32px/58px 'Poppins', sans-serif;
$caption-l-h5: 500 24px/48px 'Poppins', sans-serif;
$caption-l-h6: 500 20px/48px 'Poppins', sans-serif;
$caption-l-p: 300 18px/32px 'Poppins', sans-serif;
$caption-l-a: 300 20px/1.4 'Poppins', sans-serif;
//字體間距
$spacing-h1: 2px;
$spacing-h2: 2px;
$spacing-h3: 2px;
$spacing-h4: 1px;
$spacing-h5: 1px;
$spacing-h6: 1px;
$spacing-p: 1px;

