.home1 {
    text-align: center;
    padding-top: 90px;
}
.home1-btn {
    display: flex;
    justify-content: center;
}
#btn1 {
    @include secondBtn(100px);
    margin: 20px 5px;
    @include l($l-breakpoint){
        margin: 20px 10px;
        @include secondBtn(120px);
    }
}
#btn2 {
    @include primaryBtn(100px);
    margin: 20px 5px;
    @include l($l-breakpoint){
        margin: 20px 10px;
        @include primaryBtn(120px);
    }
}
.home1-pic img {
    margin: 40px 0;
    width: 50%;
}
.home2 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    .home2-txt,.home2-pic {
        width: 590px;
        margin: 10px;
    }
} 



$center: center;
$left: left;
$l-w:1200px;
@mixin titleStyle($center){
    text-align: $center;
}
@mixin divCenter($l-w, $center){
    width: $l-w;
    margin: 20px auto;
    text-align: $center;
}
@mixin flexCenter($center){
    display: flex;
    justify-content: $center;
}