@import '../base/color';
@import '../base/common';
@import '../mixin/mixin';

@mixin lightBox(){
    width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
  	align-items: center;
    .lightBoxContent{
		width: 90%;
		max-height: 75%;
		overflow-y: auto;
		background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
		box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, .3);
		border-radius: 20px;
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include s($s-breakpoint) {
			width: 550px;
		}
		.close{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 2px solid #eee;
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
			&::before, &::after{
				content: '';
				width: 70%;
				height: 2px;
				background: #eee;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -1px auto auto -35%;
			}
			&::before{
				transform: rotate(45deg);
			}
			&::after{
				transform: rotate(-45deg);
			}
		}
	}
}